.home_side{
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  background-color: #D9D8D7;
}
.home {
  width: 100%;
  flex-wrap: nowrap;
  font-family: 'Sofia Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home h3 {
  margin: 20px;
}
.bloco a {
  padding: 20px;
  font-size: 25px;
  text-decoration: none;
  display: flex;
  align-items:center;
  border-radius: 10px;
  margin-bottom: 20px;

}
.github {
padding: auto;
  background-color: black;
  color: white;
} 
.linkedin {
  background-color: #0288D1;
  color: white;
}
.twitter {
  background-color: #03A9F4;
  color: white;
}
.gmail {
  background-color: #EEEEEE;
  color: #E84F4B;
}
.instagram {
  color: white;
  background-image:linear-gradient(5deg, #FFFFFF,#FFECB3,#FFE082,#FFD54F,#FFC107,#FF9800,#FF6F00,
  #FF5722,#FF1744,#F50057,#D81B60,#C2185B,#8E24AA,#673AB7,#6200EA,#4928F4,#304FFE); ;
}


