
.projetos_page_menu {
    display: flex;
}
.flex {
    width: 100%;
    font-family: 'Sofia Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2%;
}
.flex h2  {
    font-weight: 300;
    padding-bottom: 25px;
    color: rgb(77, 77, 77);
    padding-top: 3%;
}
.sites{
    padding-left: 2% ;
    padding-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items:center;
}
.sites a {
    margin: 1%;
    width:  100%;
    height: auto;
}
.sites img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}
.sites img:hover {
    cursor: pointer;
    box-shadow: 4px 4px 15px 1px rgb(108, 108, 108);
    transition: 0.6s;
}


@media screen and (max-width: 480px) { 
    .projetos_page_menu {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .flex {
        padding-top: 15px;
    }
    .sites {
        display: flex;
        flex-direction: column;
    }
    .sites img {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 640px) { 
    .projetos_page_menu {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .flex {
        padding-top: 15px;
    }
    .sites {
        display: flex;
        flex-direction: column;
    }
    .sites img {
        height: auto;
    }


}

@media screen and (max-width: 768px) { 
    .projetos_page_menu {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .flex {
        padding-top: 15px;
    }
    .sites {
        display: flex;
        flex-direction: column;
    }
    .sites img {
        height: auto;
    }
}

@media screen and (max-width: 960px) { 
    .projetos_page_menu {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .flex {
        padding-top: 15px;
    }
    .sites {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .sites img {
        width: 100%;
    }

}

@media screen and (max-width: 1400px) { 
    
 
    .sites {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 45vh;
    }
}



