
.side_menu {
    border-right: solid 1px silver;
    width: 420px;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 60px;
    font-family: 'Sofia Sans', sans-serif;
    background-color: #D9D8D7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .side_menu img {
    width: 120px;
    height: 120px;
    border-radius: 50px;
  }

  .side_menu h1 {
    font-family: 'Sofia Sans', sans-serif;
    text-align: center;
    padding-top: 30px;
    color: black;
    font-weight: 400;
    }
    .side_menu h2 {
    font-family: 'Sofia Sans', sans-serif;
    padding-top: 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 400;

    }

    .side_menu_tec {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

.side_menu_tec h3 {
  padding-top: 30px;
  padding-bottom: 25px;
  font-weight: 200

}
.side_menu_tec p {
  display: flex;
  font-size: 40px;
  padding: 5px;
}
.icons {
  display: flex;
}
.sass {
  color: #F06292;
  font-size: 40px;
}
.html {
  color: #E65100 ;
}
.js {
  background-color: #FFD600;
  color: #000;
}
.react {
  color: #80DEEA;
}
.git {
  color: #F4511E;
}
.wordpress {
  color:#01579B;
  
}

.gambiarra {
  display: flex;
}