  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .navbar img {
    width: 120px;
    height: 120px;
  }
  .navbar ul {
    display: flex;
    list-style: none;
  }
  .navbar li {
    padding: 35px;
    font-size: 17px;  
  }
  .navbar li a {
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #025E73;
    text-decoration: none;
  }
  .navbar li a:hover {
    color: rgb(80, 63, 63);
  }



